@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 1110px;
	margin: 0 auto;
}
html,
body {
	background: #eaeaea;
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
}
main {
	padding-bottom: 20px;
  flex: 1 0 auto;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 15px 0px;
}
.header__actions {
	padding-right: 8px;
}
.header__actions .heart {
	cursor: pointer;
	border: none;
	margin-right: 45px;
	background-color: #eaeaea;
}
.card__left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.btn__plus-minus {
	align-items: center;
}
.minus {
	border: none;
	background: #fff;
	cursor: pointer;
	margin-right: 23.4px;
}
.number {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	color: #000000;
}
.plus {
	border: none;
	background: #fff;
	cursor: pointer;
	margin-left: 23.4px;
}
.card__rigth {
	display: flex;
}
.headphone__name-price {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
	flex-direction: column;
	margin-right: 200px;
}
.headphone__name {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 21px;
	color: #1c1c27;
	margin-bottom: 12px;
}
.headphone__price {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #aaaaaa;
}
.headphone-delete-buy {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.headphone__delete {
	cursor: pointer;
}
.headphone__buy {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	text-align: right;
	color: #1c1c27;
}
.headphones {
	margin-bottom: 21px;
}
.grid-container {
	display: grid;
	gap: 31px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
}
.grid-container__bucket {
	grid-column: 2 span;
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, 1fr);
}
h3 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #838383;
	margin-bottom: 20px;
}
.card__img {
	width: 147px;
	height: 136px;
	margin-bottom: 17px;
}
.minus {
	border-radius: 100%;
	background-color: #ffce7f;
	width: 35px;
	height: 32px;
	color: #fff;
}
.plus {
	border-radius: 100%;
	background-color: #ffce7f;
	width: 35px;
	height: 32px;
	color: #fff;
}
.total-block {
	background: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 30px;
  position: sticky;
  max-height: 120px;
}
.total{
  display: flex;
  justify-content: space-between;
  margin: 21px 16px 15px 21px;
}
.total__title {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}
.total__price {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #000000;
}
.total__btn {
	background: #101010;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;

	text-align: center;
	color: #ffffff;
  width: 349px;
  height: 65px;
}
.headphone__card {
	display: flex;
	box-sizing: border-box;
	max-width: 633px;
	height: 218px;
	background: #ffffff;
	box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
	border-radius: 30px;
	justify-content: space-between;
	padding: 18px 28px 21px 19px;
}
.card__top {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.btn__plus-minus {
	display: flex;
}
.headphone__title {
	margin: 0px 22px 27px;
}
.headphone-stars-buy {
	display: flex;
	justify-content: space-between;
}
.headphone__buy {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	font-size: 17px;
	line-height: 21px;
	color: #000000;
	border: none;
	background-color: white;
}
footer {
	flex-grow: 1 1 auto;
}
.footer {
	padding: 29px 27.5px 32px;
	display: flex;
	justify-content: space-between;
	background: #ffffff;
	box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
	border-radius: 30px 30px 0px 0px;
}
.footer-menu {
	margin-top: 5px;
}
.menu-list {
	list-style: none;
}
.menu-item {
	margin-bottom: 10px;
}
.menu-item a {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
}
.footer__service a {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
}
.language {
	display: flex;
	margin-top: 35px;
}
.language img {
	margin-right: 17px;
}
.language button {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #101010;
	border: none;
	background-color: #ffffff;
	cursor: pointer;
	margin-right: 14px;
}
.language button:nth-child(2) {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #ffa542;
}
.footer__socials {
	display: flex;
	align-items: center;
	height: 30px;
}
.footer__socials a {
	margin-right: 18px;
}
.footer__socials a:last-child {
	margin-right: 0;
}
